

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body {

    background-image: url(/img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;



}
/*ESTILIZAÇÃO DO MENU NAV*/
.container   {
    max-width: 1400px;
    padding: 1%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 62px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    text-align: end;
}

nav ul li {
    display: inline;

}

nav ul li a {
    color: #fffdfd; 
    text-shadow: rgb(6, 6, 6) 0.0em 0.1em 0.1em;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    transition: 0.9s; 
    font-weight: 500;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: rgb(143, 157, 159);
    color: rgb(93, 208, 208);
}


/*ESTILIZAÇÃO DO CORPO DR*/
.container2 {
    margin: 0px 130px 0px 130px;
    padding: 6%;
    display: flex;
}

.container2 img {
    width: 400px;
    border-radius: 10px;  
}

.clientes h1 {
    color: #fffdfd; 
    text-shadow: rgb(6, 6, 6) 0.0em 0.1em 0.1em;
    font-size: 25px;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
 
    
}


.caixa2 {
    margin: auto;
    padding: 20px;
    color: rgb(4, 35, 43);
}

.caixa2 h4 {
    color: #fffdfd; 
    text-shadow: rgb(6, 6, 6) 0.0em 0.1em 0.1em;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
}

.caixa2 h1 {
    padding-bottom: 2%;
    color: #fffdfd; 
    text-shadow: rgb(6, 6, 6) 0.0em 0.1em 0.1em;
    font-size: 40px;
    border-radius: 10px;
    font-weight: 500;

}

/*ESTILIZAÇÃO DOS CLIENTES*/

.img-cliente {
    display: flex;
    padding: 5px;
}

.img-cliente img {
    border-radius: 8px;
    width: 100px;
    height: 100px;


}

.img-cliente p {
    padding: 3%;
    color: black;
    font-size: 15px;
    
}



.clientes {
    margin: 45px 350px 0px 350px;
    
   
}

/*FOOTER FOOTER FOOTER FOOTER*/

.container3 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 80px 400px 0px 400px;
}

.container3 ul a {
    text-decoration: none;
    text-align: center;
    display: grid;
    color: black;
    font-size: 10px;
}

.container3 p {
    text-align: center;
    padding: 30px;

}

.container3 img {
    width: 70px;
}

#git-borda {
    border-radius: 12px;
}

#link-borda {
    border-radius: 12px;
}

/*ESTILIZAÇÃO PAG CONTATO*/
.corpo {
    background-color: darkgray;
    margin: 0px 350px 0px 350px;
    padding: 3%;
    box-shadow: #fffdfd 0.0em 0.1em 0.2em;

}

.corpo h2 {
    text-align: center;
    padding: 2%;
    color: #fffdfd; 
    text-shadow: rgb(6, 6, 6) 0.0em 0.1em 0.1em;
    
}

.corpo table {
    background-color: blue ;
    display: flex;
    justify-content: center;
}


.corpo table button {
    display: flex;
    align-items: center;
}





