* {
    margin: 0px 10px 0px 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(151, 165, 165) 0%, rgb(191, 240, 240) 100%);

}
/*ESTILIZAÇÃO DO MENU NAV*/
.container   {
    max-width: 1400px;
    padding: 1%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 62px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    text-align: end;
}

nav ul li {
    display: inline;

}

nav ul li a {
    color: #131212; 
    text-shadow: rgb(172, 172, 172) 0.1em 0.1em 0.2em;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    transition: 0.9s; 
    font-weight: 500;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: rgb(139, 185, 185);
    color: rgb(53, 51, 51);
}


/*ESTILIZAÇÃO DO CORPO DR*/
.container2 {

    padding: 60px;
    display: flex;

}

.container2 img {
    width: 350px;
    height: 350px;
    border-radius: 8px;  
}

.clientes h1 {
    color: #131212; 
    text-shadow: rgb(172, 172, 172) 0.1em 0.1em 0.2em;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    
}


.caixa2 {

    margin: auto;
    padding: 20px;
    color: rgb(4, 35, 43);
    font-size: larger;
}

.caixa2 h1, h4 {
    color: #131212;
    text-shadow: rgb(172, 172, 172) 0.1em 0.1em 0.2em; 
}

/*ESTILIZAÇÃO DOS CLIENTES*/

.img-cliente {
    display: flex;
    padding: 5px;
}

.img-cliente img {
    border-radius: 8px;
    width: 100px;
    height: 100px;


}

.img-cliente p {
    padding-top: 3%;
    color: black;
    font-size: 15px;
    
}



.clientes {
    margin: 45px 350px 0px 350px;
   
}

.container3 ul {
    display: flex;
    justify-content: space-between;
    margin: 60px 350px 25px 350px;
}

.container3 ul li {
    list-style: none;

}
.container3 ul li a {
    text-decoration: none;
    text-align: center;
    display: grid;
    color: black;
    font-size: 10px;
}

.container3 p {
    text-align: center;
    padding: 30px;

}

.container3 img {
    width: 40px;
}








